.g-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.g-head {
    margin-top: 1rem;
    width: inherit;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.g-head:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5rem;
}

.g-head:last-child {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 5rem;
}
